span{
    color: white;
    border-radius: 3px;
    border-width: thick;
    padding-right: 5px;
    padding-left: 5px;
    margin: 3px;
}

input[type="checkbox"]{display: none; }
input[id="red"]:checked ~label[for="red"] {color: lightpink;}
input[id="blue"]:checked ~label[for="blue"] {color: lightblue;}
input[id="green"]:checked ~label[for="green"] {color: lightgreen;}

input[id="red"]:checked ~span[class="red"]{display: none;}
input[id="blue"]:checked ~span[class="blue"]{display: none;}
input[id="green"]:checked ~span[class="green"]{display: none;}

label{
    text-decoration: underline;
    padding-right: 15px;
}

label[for="red"] {color: red;}

label[for="blue"] { color: blue; }

label[for="green"] {color: green;}

.red{background-color: red;}

.blue {background-color: blue;}

.green {background-color: green;}