/*
E:nth-of-type(an+b)
тоже самое. но работет с группой E-элементов

p:nth-child(2)
это параграф && второй жлемент своего родителя

p:nth-of-type(2)
это второй параграф своего родителя
*/

/*у класса parent сделает только если элемент p второй по счету */
.parent p:nth-child(2)
{
    color:red;
}

/*у класса parent выберет все элементы p под номером 2 */
.parent p:nth-of-type(2)
{
    text-decoration: line-through;
}