body
{
    font-size: 24px;
}

#myId
{
    color: red;
}
.myclass
{
    color:blue;
}

#myId2.myclass
{
    font-weight:bold;
}

.myclass.mysuperclass
{
    text-decoration: underline;
}

#myId3.myclass.mysuperclass
{
    font-style: italic;
}

/* 2id невалидно нельзя!!!*/
#myId4.myclass.mysuperclass
{
    background: yellow;
}
