/*
приоритет стилей. 5 - низший

1. селектор + !important в user.css
2. селектор + !important в style.css
3. селектор  в style.css
4. селектор  в user.css
5. селектор в browser.css > reset.css
*/


/*
	уберем дефолты браузера для списка
*/
ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
/*
	в рамках style.css, при селекторе одинакового веса,
	побеждает тот, что ниже
*/
.first
{
    color: green;
}

.item
{
    color: red;
}
/*
	Мощь переопределения и дополнения:
	все заголовки серые, но заголвок
	при условиях "черный и имеет отступ"
*/